@page "/events/{slug}"
@model ViewEventModel
@{
    var post = Model.Post;
}

@if (post is null)
{
    <p>That post could not be found.</p>
}
else
{
    <h1>@post.Title</h1>
    @if (post.IsSingleDayEvent)
    {
        <p>
            On @post.StartTimeUtc.ToString("dd MMM, yy")
            from @post.StartTimeUtc.ToString("hh:mm tt") onwards
        </p>
    }
    else
    {
        @: TODO: Handle multi-day events :)
    }

    <p>@post.Description</p>
    <div>@Html.Raw(post.BodyHtml)</div>


    <div>
        <form method="post">
            <input asp-for="RegisterVM.Email"
                   type="email" placeholder="jane.doe@example.com" />
            <button type="submit">Register</button>
        </form>
    </div>
}
