@page "{slug}"

@inject IEventQuery eventQuery
@{
    string slug = RouteData.Values["slug"] as string;
    var post = await eventQuery.QueryAsync(slug);
}

<h1>@post.Title</h1>
@if(post.IsSingleDayEvent)
{
    <p>
    On @post.StartDateTime.ToString("dd MMM, yy") from @post.StartDateTime.ToString("hh:mm tt") onwards
    </p>
}
else
{

}

<p>@post.Description</p>
<p>@post.Body</p>

@if(post.Announcements?.Any() ?? false)
{
    <h3>Announcements</h3>
    foreach(var announcement in post.Announcements)
    {
            <p>
                <strong>@announcement.Text</strong><br />
                @announcement.LongText
            </p>
    }
}
