@page "/events/{slug}"
@model ViewEventModel
@{
    var post = Model.Post;
}

<h1>@post.Title</h1>
@if(post.IsSingleDayEvent)
{
    <p>
        On @post.StartDateTime.ToString("dd MMM, yy")
        from @post.StartDateTime.ToString("hh:mm tt") onwards
    </p>
}
else
{

}

<p>@post.Description</p>
<p>@post.Body</p>

@if(post.Announcements?.Any() ?? false)
{
    <h3>Announcements</h3>
    foreach(var announcement in post.Announcements)
    {
            <p>
                <strong>@announcement.Text</strong><br />
                @announcement.LongText
            </p>
    }
}

<div>
    <form method="post">
        <input asp-for="RegisterVM.Email"
            type="email" placeholder="jane.doe@example.com" />
        <button type="submit">Register</button>
    </form>
</div>
