@page "{slug}"
@inject IEventsService eventsService
@{
    string slug = RouteData.Values["slug"] as string;
    var post = eventsService.Get(slug);
}

<h1>@post.Title</h1>
@if(post.IsSingleDayEvent)
{
    <p>
    On @post.StartDateTime.ToString("dd MMM, yy") from @post.StartDateTime.ToString("hh:mm tt") onwards
    </p>
}
else
{

}

<p>@post.Description</p>
<p>@post.Body</p>
