@model EventPost

<article class="card event">
    <a asp-page="/Events/View" asp-route-slug="@Model.Slug"><h2>@Model.Title</h2></a>
    @if(Model.IsSingleDayEvent)
    {
        <span>On @Model.StartTimeUtc.ToString("dd MMM, yy") from @Model.StartTimeUtc.ToString("hh:mm tt") onwards</span>
    }
    <p>@Model.Excerpt&hellip;</p>
</article>
